@page "/about"

<h5><span class="oi oi-grid-three-up"></span> About</h5>
<br />

<div class="container">
    <div class="row">
        <p>
            This project is implemented in the following languages, technologies and frameworks:
        </p>
    </div>

    <div class="row">
        <ul>
            <li><em>.NET Core Version 3.1</em></li>
            <li><em>C#.NET</em></li>
            <li><em>RESTful Web API</em></li>
            <li><em>Blazor (Razor Components) for Client</em></li>
            <li><em>xUnit for Unit Testing</em></li>
            <li><em>HTML 5</em></li>
            <li><em>CSS 3</em></li>
            <li><em>Bootstrap 4.3.1</em></li>
            <li><em>PowerShell 7.0.3 for Automation</em></li>
        </ul>
    </div>
</div>